.pagina-pokemon
{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;

    background: linear-gradient(90deg, #9A99C6 21.88%, #C699B2 100%);

    > img
    {
        width: 150px;
        margin-bottom: 7px;
    }

    > input
    {
        padding: 8px 16px;
        
        box-shadow: 0 4px 4px 2px rgba($color: #000000, $alpha: 0.2);
        color: #FFF;
        font-weight: 600;
        background-color: #5f5f5f;
        border: none;
        border-radius: 100px;

        margin-bottom: 20px;
    }

    > input::placeholder
    {
        color: #8f8f8f;
    }

    > h3
    {
        color: #FFF;
        font-size: 16px;
        margin-bottom: 5px;
    }

    > h4
    {
        color: #FFF;
        font-size: 14px;
        margin-bottom: 20px;
    }

    > button
    {
        padding: 14px 21px;
        font-size: 16px;
        font-weight: 700;

        color: #FFF;
        background-color: #7760CB;
        border: none;
        border-radius: 100px;
    }

    .lista-pokemons
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;

        margin-bottom: 30px;
    }
}